torch

torchvision

thop

scipy

matplotlib

numpy

imageio

pandas

scipy

pillow

plotly

scikit-learn

deep_sort_realtime

pysolar

timezonefinder

folium

geopandas

pyyaml

opencv-python

geopy

